tz: "Europe/Minsk"
controllers_enabled: ["Reminder", "Misc", "Bramnik", "Cameras", "Gates"]
#logger: stdout, journald
logger: stdout
cameras:
  - name: Name1
    snapshot_uri: http://192.168.xxx.xxx/Streaming/channels/1/picture
    user: admin
    password: password
gates:
  - name: Gate 1
    command: echo 'Dial +37544123456'
  - name: Gate 2
    command: echo 'Dial +37544123457'

